@import url('https://fonts.googleapis.com/css?family=Lora|Sriracha&display=swap');

.banner {
 background-image: linear-gradient (0deg, red 0%, white 50%)   
 color: black
 padding:150px 0px;
 background-size: cover;
 background-position: center
}

.banner h1 {
  color: black;
  font-size: 50px;
}

.banner h2 {
  color: black;
  font-size: 30px;
  font-weight: lighter;
	opacity: 0.8;
}

.container {
	width: 500px;
	margin: 0 auto;
}

.avatar {
	width: 60px;
	height:60px;
	border-radius: 50%;
}

.btn-red {
	background-color: #F72929;
	padding: 18px 25px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: "Lora", serif;
}

.card{
padding: 25px;
display: flex;
align-items: center;
justify-content: space-between;
box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
border-radius: 6px;
margin: 20px 0px
}

.card img {
	width: 150px;
	border-radius: 6px;
}

.cards {
	display: flex;
	flex-wrap: wrap;
}





.card h3 {
	flex-grow: 1;
	padding-left: 20px;
	font-size: 24px
}



@media (max-width: 960px) {
 
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {

  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  
  .container {
    width: 300px;
  }
}


h1, h2, h3 {
	font-family: 'Sriracha', cursive;
	font-size: 25px;
} 

body {
	font-family: 'Lora', serif;
	font-size: 15px;
	margin: 0px;
}

a {
	text-decoration: none;
}
